body {
    background-color: hsl(210, 14%, 97%);
}

table {
    max-width: 100%;
    
}

th {
    font-size: 14px;
}

img {
    height: 10px;
    width: 10px;
}

.a-right {
    text-align: right;
}

.a-left {
    text-align: left;
}

.a-mid {
    text-align: center;
}

.name {
    width: 25%;
    padding: 0 20px;
    color: white;
}

.price{
    width: auto;
    padding: 0 20px;
}

.sold{
    width: 50px;
}

tr {
    margin-right: 100em;
}

.icon-edit, .icon-del, .link-row {
    width: 20px;
}

thead {
    display: flex;
    vertical-align: top;
    background-color: hsl(230, 13%, 35%);
}

tr:nth-child(even) {
    background: hsl(60, 33%, 99%);
}

tr:nth-child(even) {
    background: hsl(240, 25%, 92%);
}

.add-button {
   float: right;
   margin: 10px; 
   padding: 7px 18px;
   background-color: hsl(354, 71%, 60%);
   border: none;
   border-radius: 3px;
   color: hsl(0, 33%, 99%);
   box-shadow: 1px 1px 4px -2px hsl(230, 13%, 35%);
}

.add-button:hover {
    box-shadow: 0px 0px 0px 0px hsl(230, 13%, 35%);
    transform: translate(0, 1px);
    transition: transform 0.5s;
}

.add-modal :hover {
    cursor: pointer;;
}

.add-modal :active {
    box-shadow: none;
}