.App {
  /* text-align: center; */
  background-color: white;
  padding: 20px 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Hr-line {
  background-color: gray;
  height: 3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
  background-color: #ebe0df;
  width: 3em;
  color: black;
  text-align: center;
}

ul {
  display: flex;
  gap: 2em;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}